---
layout: default
title: Raksti
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
      {% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "%-d." }}
      {% case m %}
        {% when '1' %}janvāris
        {% when '2' %}februāris
        {% when '3' %}marts
        {% when '4' %}aprīlis
        {% when '5' %}maijs
        {% when '6' %}jūnijs
        {% when '7' %}jūlijs
        {% when '8' %}augusts
        {% when '9' %}septembris
        {% when '10' %}oktobris
        {% when '11' %}novembris
        {% when '12' %}decembris
      {% endcase %}
      {{ post.date | date: "%Y." }} gads
  </time>
    {{ post.content | truncatewords:75 }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Vecāki raksti</a>
  {% else %}
    <span class="pagination-item older">Vecāki raksti</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Jaunāki raksti</a>
  {% else %}
    <span class="pagination-item newer">Jaunāki raksti</span>
  {% endif %}
</div>
